* {
	padding: 0;
	margin: 0;
}
body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
	line-height: 24px;
	margin: 1em 0;
}

#header {
	text-align: center;
	padding: .5em 0;
	border-bottom: 1px solid #ccc;
}
#content {
	width: 800px;
	margin: 3em auto; 
	text-align: center;
}
form {
	width: 400px;
	margin: 0 auto;
}
textarea {
	resize: none;
	margin-bottom: 15px;
}
